<strong>{{ chore.description|e }}</strong> - Repeats {{ chore.period }}, every {{ chore.frequency }} things, starting {{ chore.startDate|date("m/d/y") }}.
<a href="{{ path('chore_delete', { id: chore.id }) }}">Delete</a>