{% extends 'StintChoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {% render "StintChoreBundle:Default:breadcrumbs" with {'object': chore} %}
{% endblock %}

{% block content %}
  <h1>{{ chore.description }}</h1>
  {% include 'StintChoreBundle:Chore:short_description.html.twig' %}
  <h2>Assigned to</h2>
  <ul>
    {% for user in chore.getUsers %}
      <li>{{ user.name }} <a href="{{ path('chore_unassign', { 'choreId': chore.id, 'userId': user.id }) }}">X</a></li>
    {% else %}
      <li>No one</li>
    {% endfor %}
  </ul>

  <h2>Assign</h2>
  {% for user in unassignedUsers %}
    <a href="{{ path('chore_assign', { 'choreId': chore.id, 'userId': user.id }) }}">{{ user.name }}</a>
  {% else %}
    Everyone's already on it.
  {% endfor %}  
{% endblock %}

{% block bottomNav %}
  <a href="{{ path('chorelist_show', { 'id': chore.getChoreList.id }) }}">Back to list</a>
{% endblock %}